WCFwebclient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/wcfemplib/Empservice/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/emplib" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/emplib" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfemployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addfield">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/emplib" minOccurs="0" name="emp" nillable="true" type="q2:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addfieldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ecode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/emplib" minOccurs="0" name="emp" nillable="true" type="q3:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ecode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/emplib" minOccurs="0" name="GetEmpByIdResult" nillable="true" type="q4:employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>