WCFwebclient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/emplib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/emplib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfemployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employee" nillable="true" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfemployee" nillable="true" type="tns:ArrayOfemployee" />
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="deptid" type="xs:int" />
      <xs:element minOccurs="0" name="ecode" type="xs:int" />
      <xs:element minOccurs="0" name="ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="employee" nillable="true" type="tns:employee" />
</xs:schema>